@import "bootstrapi.min.css";
body{
    background-image: url("../imagem/fundo.png");    
}

.vertical-align {
    margin: 0;    
    position: absolute;
    top: 50%;     
    margin-left: 50%;
    transform: translate(-50%, -50%);   
}

.vertical-alignC {
    margin: 0;    
    position: absolute;
    top: 50%;     
    margin-left: 50%;
    transform: translate(-50%, -50%);   
}

.login{
    font-size: 40px;
    font-family: Roboto;
}

.cad{
    font-size: 40px;
    font-family: Roboto;
}

.re{
    font-size: 200px;
    font-weight: bold;
    font-family: Roboto;
    margin: 0;
    position: absolute;
    top: 38%;     
    margin-right: 100%;
    transform: translate(50%, -50%);   
}

.reC{
    font-size: 200px;
    font-weight: bold;
    font-family: Roboto;
    margin: 0;
    position: absolute;
    top: 38%;     
    margin-right: 100%;
    transform: translate(50%, -50%);   
}

.up{
    font-size: 200px;
    font-weight: bold;
    font-family: Roboto; 
    margin: 0;
    position: absolute;
    top: 58%;     
    margin-right: 100%;
    transform: translate(70%, -50%);   
}

.upC{
    font-size: 200px;
    font-weight: bold;
    font-family: Roboto; 
    margin: 0;
    position: absolute;
    top: 58%;     
    margin-right: 100%;
    transform: translate(70%, -50%);   
}

.branco{
    color: #fff;
}

.btn {
    background-color: #03989e;
    
}

@media(max-width: 1470px){
    .vertical-align {
        margin: 0;    
        position: absolute;
        top: 55%;     
        margin-left: 30%;
        transform: translate(-50%, -50%);   
    }
    .vertical-alignC {
        margin: 0;    
        position: absolute;
        top: 55%;     
        margin-left: 30%;
        transform: translate(-50%, -50%);   
    }
    .login{
        font-size: 50px;
        color: #000;        
    }
    .cad{
        font-size: 50px;
        color: #000000;        
    }
    .re{
        font-size: 0px;
    }
    .reC{
        font-size: 0px;
        
    }
    .up{
        font-size: 0px;
    }
    .upC{
        font-size: 0px;

    }
    a{
        color: #fff;
    }
    .btn{
        background-color: #fff;
        color: #000;
    }
}

@media(max-width: 600px){
    .vertical-align {
        margin: 0;    
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);   
    }
    .vertical-alignC {
        margin: 0;    
        position: absolute;
        top: 58%;     
        margin-left: 30%;
        transform: translate(-30%, -50%);   
    }
    .re{
        font-size: 0px;
    }
    .reC{
        font-size: 0px;
        
    }
    .up{
        font-size: 0px;
    }

    .login{
        color: #fff;
        font-size: 50px;           
    }
    .cad{
        color: #fff;
        font-size: 40px;                           
    }

    a{
        color: #fff;
    }
    .btn{
        background-color: #fff;
        color: #000;
        margin-bottom: 10%
    }

}

@media(max-width: 380px){
    .vertical-alignC {
        margin: 0;    
        position: absolute;
        top: 65%;     
        margin-left: 30%;
        transform: translate(-30%, -50%);   
    }
    .cad{
        font-size: 35px;
        color: #fff;        
    }
        .btn{
        background-color: #fff;
        color: #000;
        margin-bottom: 10%;
    }
}